eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzg2MjM1Mjg5LCJpYXQiOjE3ODYyMTM2ODksImp0aSI6IjMzMDAyMGZkNmQ0NjRmMGNiY2YzM2RjYTA4ZGE2MDMyIiwidXNlcl9pZCI6IjMifQ.-ONBCW--z8m97NvaY-MwQD_Lv7EqKfzsgFIPEl4t-tU
.env
.env.local
.env.*.local